@charset "UTF-8";
/* COLORS
 @include b.cl(white);
 色名の頭文字を大文字にするとエラー
 ----------------------------- */
/* FONT
 @include b.Helvetica
 ------------------------- */
@media print, screen and (min-width: 768px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}
@media print, screen and (min-width: 768px) {
  ._pc {
    display: block;
  }
}

.breadcrumb {
  padding-top: 20px;
  padding-left: 20px;
  /* 「ホーム>ブログ>ブログタイトル」を作成 */
}
.breadcrumb ol {
  list-style-type: none;
}
@media print, screen and (min-width: 768px) {
  .breadcrumb {
    padding-left: 60px;
  }
}
.breadcrumb .breadcrumb-list {
  display: flex;
  font-size: 16px;
}
@media print, screen and (min-width: 768px) {
  .breadcrumb .breadcrumb-list {
    font-size: 20px;
  }
}
.breadcrumb .breadcrumb-item {
  color: #fff;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item {
  position: relative;
  padding-left: 14px;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  position: absolute;
  content: ">";
  color: #fff;
  font-size: 20px;
  left: 2px;
  line-height: 1;
}
@media print, screen and (min-width: 768px) {
  .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    top: 5px;
  }
}
.breadcrumb .breadcrumb-item a {
  color: #fff;
  text-decoration: underline;
  display: block;
}

.header {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 20;
  /* 三本線(ハンバーガーメニュー) 
  ============================ */
  /* ナビゲーションメニュー
  ======================= */
  /* <li>の黒ポチを消す */
}
.header .header-fixed {
  background-color: #B9C3C9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 5px;
  z-index: 4;
}
.header .header-logo {
  width: 100px;
  margin-left: 30px;
  z-index: 3;
}
.header .nav-btn {
  width: 52px;
  height: 32px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 4;
  /* 親要素(.nav-btn)がクリックされた時(active) */
}
@media print, screen and (min-width: 768px) {
  .header .nav-btn {
    display: none;
  }
}
.header .nav-btn.-active span {
  top: 0;
  bottom: 0;
  margin: auto;
  transition: transform 0.3s ease-in-out;
}
.header .nav-btn.-active span:first-child {
  transform: rotate(45deg);
}
.header .nav-btn.-active span:nth-child(2) {
  transform: rotate(45deg);
}
.header .nav-btn.-active span:last-child {
  transform: rotate(-45deg);
}
.header .nav-btn span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #666666;
  display: block;
  transition: transform 0.3s ease-in-out;
  right: 0;
}
.header .nav-btn span:first-child {
  top: 0;
}
.header .nav-btn span:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.header .nav-btn span:last-child {
  bottom: 0;
}
.header .nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  padding-top: 145px;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}
@media print, screen and (min-width: 768px) {
  .header .nav {
    /* PCサイズの場合は常に表示 */
    width: initial;
    background-color: transparent;
    padding-top: 0;
    z-index: 5;
    left: inherit;
    right: 0;
    top: 38px;
    opacity: 1;
    visibility: visible;
  }
}
.header .nav.-active {
  /* スマホサイズでクリックされた時 */
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
  font-weight: bolder;
}
.header .nav-wrap ul {
  list-style-type: none;
}
.header .nav-list {
  text-align: left;
  padding-bottom: 45px;
}
@media print, screen and (min-width: 768px) {
  .header .nav-list {
    margin-right: 40px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
  }
}
.header .nav-list .nav-item + .nav-item {
  margin-top: 20px;
}
@media print, screen and (min-width: 768px) {
  .header .nav-list .nav-item + .nav-item {
    margin-top: 0;
    margin-left: 20px;
  }
}
.header .nav-list a {
  color: #333333;
  font-size: 24px;
}
@media print, screen and (min-width: 768px) {
  .header .nav-list a {
    font-size: 18px;
  }
}
@media print, screen and (min-width: 768px) {
  .header .nav-list #est-item {
    background-color: none;
    border-radius: 8px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 15px;
}
.footer .nav-wrap ul {
  list-style-type: none;
  padding-left: 0%;
}
.footer .nav-list {
  text-align: center;
}
@media print, screen and (min-width: 768px) {
  .footer .nav-list {
    display: flex;
    justify-content: center;
  }
}
.footer .nav-item + .nav-item {
  margin-top: 20px;
}
@media print, screen and (min-width: 768px) {
  .footer .nav-item + .nav-item {
    margin-left: 35px;
    margin-top: 0;
  }
}
.footer .nav-item a {
  font-size: 16px;
  color: #000;
}
.footer .footer-logo {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
.footer .copyright {
  padding-top: 20px;
  color: #000;
  font-size: 16px;
  text-align: center;
}

/* "cmn": common 
=======================*/
.cmn-section {
  padding-top: 40px;
}
.cmn-section.-white {
  background-color: #fff;
}
.cmn-section.-bluegrey {
  background-color: #B9C3C9;
}
.cmn-section.-black {
  background-color: #000;
}

.cmn-title {
  text-align: center;
  color: #000;
}
.cmn-title .main {
  display: block;
  font-size: 32px;
}
.cmn-title .sub {
  display: block;
  font-size: 20px;
  margin-top: 20px;
  font-family: "Helvetica", "HiraKakuProN-W3", "ヒラギノ角ゴ ProN W3", sans-serif;
  text-transform: capitalize;
  margin-top: 34px;
}
@media print, screen and (min-width: 768px) {
  .cmn-title .sub {
    margin-top: 50px;
  }
}
.cmn-title .sub.-faq {
  text-transform: uppercase;
}

/* "〇〇の詳細"ボタン
============================== */
.cmn-btn a,
.cmn-btn input {
  display: inline-block;
  padding: 12px 36px;
  background-color: rgba(184, 134, 11, 0.9176470588);
  color: #fff;
  font-size: 14px;
  border-radius: 8px;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Sen", "M PLUS Rounded 1c", "Helvetica", "ヒラギノ角ゴ ProN W3", "メイリオ", "Arial", sans-serif;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

main {
  background-color: #fff;
}

.concept {
  padding-top: 80px;
  padding-bottom: 20px;
  /* スクロールしていくとフェードインするアニメーション
  --------------------------------------------- */
  /* ----------------------------------------- */
  /* <ul>,<li> だと微妙に左にスペースができる
  => list-style-type: none; だけでなく
  padding-left: 0;    */
}
.concept .fadein {
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 1.5s ease;
}
.concept .fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}
.concept .inner {
  display: flex;
  flex-direction: column;
}
@media print, screen and (min-width: 768px) {
  .concept .inner {
    display: block;
  }
}
.concept .concept-list {
  padding-top: 60px;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}
@media print, screen and (min-width: 768px) {
  .concept .concept-list {
    flex-flow: row wrap;
  }
}
.concept .concept-item {
  color: #000;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.concept .concept-item > .fa-icon {
  margin: 0 auto;
}
.concept .concept-item > .fa-icon > i {
  font-size: 50px;
  color: #8491a0;
}
.concept .concept-item > .text {
  display: block;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 40px;
}
.concept .concept-item > .text > .title {
  text-align: center;
}
@media print, screen and (min-width: 768px) {
  .concept .concept-item > .text {
    flex: 1;
    padding-right: 0;
    padding-left: 0;
  }
}
@media print, screen and (min-width: 768px) {
  .concept .concept-item .image,
.concept .concept-item .text {
    margin-right: 40px;
    margin-left: 40px;
  }
}
.concept .concept-item + .concept-item {
  padding-top: 60px;
}
@media print, screen and (min-width: 768px) {
  .concept .concept-item + .concept-item {
    padding-top: 0;
  }
}
.concept .concept-item .title {
  color: #000;
  font-size: 18px;
}
@media print, screen and (min-width: 768px) {
  .concept .concept-item .title {
    font-size: 28px;
  }
}
.concept .concept-item .desc {
  margin-top: 50px;
  font-size: 16px;
}
@media print, screen and (min-width: 768px) {
  .concept .concept-item .desc {
    font-size: 18px;
  }
}

.contact {
  background-color: #FCC800;
  margin: 0;
}
.contact .contact-wrap {
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 40px;
  vertical-align: middle;
}
.contact .contact-wrap > h1 {
  text-align: center;
  color: #000;
  font-family: "Caveat", cursive;
}
.contact .contact-wrap > p {
  text-align: center;
  color: #000;
}

.flow {
  box-sizing: content-box;
}
.flow .flow-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}
.flow .flow-wrapper .flow-cont {
  padding-left: 20px;
  margin-left: 20px;
  padding-right: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
.flow .flow-wrapper h2 {
  color: #000;
}
.flow .flow-wrapper .flow-grid {
  display: grid;
  row-gap: 20px;
  grid-template-columns: 1fr;
}
@media print, screen and (min-width: 768px) {
  .flow .flow-wrapper .flow-grid {
    margin-top: 40px;
    -moz-column-gap: 24px;
         column-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}
.flow .flow-wrapper .flow-item {
  padding-right: 0;
  z-index: 2;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media print, screen and (min-width: 768px) {
  .flow .flow-wrapper .flow-item {
    padding-right: 48px;
    margin-top: 40px;
    margin-bottom: 80px;
  }
}
.flow .flow-wrapper .animated {
  opacity: 0;
}
.flow .flow-wrapper .number {
  display: block;
  margin-bottom: 8px;
  color: #6E6E6E;
  line-height: 100%;
  font-weight: 500;
  font-size: 24px;
}
@media print, screen and (min-width: 768px) {
  .flow .flow-wrapper .number {
    font-size: 48px;
  }
}
.flow .flow-wrapper .flow-h3 {
  margin-top: 0px;
  margin-bottom: 16px;
  color: #000;
  font-size: 24px;
  line-height: 120%;
  font-weight: 700;
}
@media print, screen and (min-width: 768px) {
  .flow .flow-wrapper .flow-h3 {
    font-size: 32px;
  }
}
.flow .flow-wrapper .flow-paragraph {
  margin-bottom: 0;
  color: #000;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
}
.flow .flow-wrapper #flow-1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.flow .flow-wrapper #flow-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.flow .flow-wrapper #flow-3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.flow .flow-wrapper #flow-4 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.flow .flow-wrapper .green {
  color: rgba(184, 134, 11, 0.9176470588);
}
.flow .flow-wrapper .blue {
  color: #1da1f2;
}
.flow .flow-wrapper .pink {
  color: #30A3B3;
}
.flow .flow-wrapper .gold {
  color: #d13415;
}

/* =======================
Contact > index.html 
お問い合わせフォーム
========================= */
main {
  background-color: #F2F2F2 !important;
}

/* Top Image 
============== */
.form-top {
  background-image: url(../image/laptop.jpg) !important;
  background-position: center;
  background-size: cover;
  height: 400px;
  position: relative;
  margin-top: 100px;
}
@media print, screen and (min-width: 768px) {
  .form-top {
    /* ------------------------------------------
      url(...)の相対パスはstyle.cssから見たルートで記述
      -> 実際にスタイルを適用するファイルはstyle.cssだから
      ------------------------------------------ */
    background-image: url(../image/laptop.jpg) !important;
  }
}

/* お問合せフォーム
==================== */
.form-wrapper .lead-form {
  padding: 40px 40px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  color: #000;
}
@media print, screen and (min-width: 768px) {
  .form-wrapper .lead-form {
    font-size: 40px;
  }
}
.form-wrapper #my-form {
  margin: 0 auto;
  width: 500px;
  /* floatでblock要素を横並びにする時，他の要素が下に回り込むのを防ぐ
  ---------------------------------------------------------- */
}
@media print, screen and (min-width: 768px) {
  .form-wrapper #my-form {
    width: 800px;
  }
}
.form-wrapper #my-form .form-item {
  overflow: hidden;
  display: block;
  width: 100px;
  margin: none;
}
@media print, screen and (min-width: 768px) {
  .form-wrapper #my-form .form-item {
    display: table-row;
    width: 100%;
  }
}
@media print, screen and (min-width: 768px) {
  .form-wrapper #my-form .form-item.-short td {
    width: 100px;
  }
}
.form-wrapper #my-form table {
  display: block;
  margin: 0 auto;
}
@media print, screen and (min-width: 768px) {
  .form-wrapper #my-form table {
    display: table;
    margin-top: 0;
    width: 100%;
    border-spacing: 0;
  }
}
.form-wrapper #my-form tr {
  display: block;
  margin-bottom: 30px;
}
.form-wrapper #my-form tr:first-child {
  margin-top: 20px;
}
@media print, screen and (min-width: 768px) {
  .form-wrapper #my-form tr {
    display: table-row;
  }
}
.form-wrapper #my-form th {
  display: block;
  width: 100%;
  padding: 5px auto 5px 20px;
  font-weight: normal;
  left: 5px;
  text-align: left;
  margin-top: 10px;
}
@media print, screen and (min-width: 768px) {
  .form-wrapper #my-form th {
    display: table-cell;
    padding: 15px;
    border-bottom: 1px solid #EEEEEE;
    width: 45%;
    vertical-align: middle;
  }
}
.form-wrapper #my-form td {
  width: 100%;
  display: block;
  text-align: left;
  left: 5px;
}
@media print, screen and (min-width: 768px) {
  .form-wrapper #my-form td {
    display: table-cell;
    padding: 10px;
    border-bottom: 1px solid #EEEEEE;
    vertical-align: middle;
  }
}
.form-wrapper #my-form .label {
  border-left: 3px solid #e0505d;
  display: inline-block;
  left: 2px;
  padding-left: 6px;
}
@media print, screen and (min-width: 768px) {
  .form-wrapper #my-form .label {
    width: 300px;
    margin-right: 20px;
    padding-left: 10px;
    vertical-align: middle;
  }
}
.form-wrapper #my-form .inputs {
  width: calc(100% - 10px);
}
@media print, screen and (min-width: 768px) {
  .form-wrapper #my-form .inputs {
    width: 350px;
  }
}
.form-wrapper #my-form input[type=text],
.form-wrapper #my-form input[type=email],
.form-wrapper #my-form input[type=tel] {
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  padding: 10px;
  margin: 0 5px;
  font-size: 15px;
  box-sizing: border-box;
}
.form-wrapper #my-form .clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.form-wrapper #my-form .smallinput {
  width: 70px;
  margin-right: 5px;
}
@media print, screen and (min-width: 768px) {
  .form-wrapper #my-form .smallinput {
    width: 70px;
    vertical-align: middle;
  }
}
.form-wrapper #my-form .input-age {
  vertical-align: middle;
}
@media print, screen and (min-width: 768px) {
  .form-wrapper #my-form .input-age {
    margin-top: 15px;
  }
}
.form-wrapper #my-form .attention {
  display: inline-block;
  padding-top: 8px;
  padding-left: 5px;
  color: #000;
}
.form-wrapper #my-form textarea {
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  padding: 10px;
  margin: 0 3px;
  height: 160px;
  font-size: 15px;
  box-sizing: border-box;
}
.form-wrapper #my-form .btn-area {
  text-align: center;
  padding: 10px 5px 20px;
}
.form-wrapper #my-form input[type=submit] {
  background: #d13415;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: normal;
  padding: 10px 20px;
  margin: 10px 5px;
  cursor: pointer;
  width: 150px;
}
.form-wrapper #my-form input[type=reset] {
  background: #6E6E6E;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: normal;
  padding: 10px 20px;
  margin: 10px 5px;
  cursor: pointer;
  width: 150px;
}
.form-wrapper #my-form .hissu {
  padding-right: 4em;
  position: relative;
}
.form-wrapper #my-form .hissu::after {
  content: "必須";
  display: inline-block;
  position: absolute;
  border: 1px solid #CCCCCC;
  padding: 1px 5px;
  font-size: 80%;
  background: #d40000;
  color: #fff;
  vertical-align: middle;
  right: auto;
  margin-left: 8px;
}
@media print, screen and (min-width: 768px) {
  .form-wrapper #my-form .hissu::after {
    right: 10px;
    left: auto;
  }
}
.form-wrapper #my-form .ninni {
  padding-right: 4em;
  position: relative;
}
.form-wrapper #my-form .ninni::after {
  content: "任意";
  display: inline-block;
  position: absolute;
  border: 1px solid #CCCCCC;
  padding: 0 5px;
  font-size: 85%;
  background: #d2e5ff;
  color: #333333;
  vertical-align: middle;
  right: auto;
  margin-left: 8px;
}
@media print, screen and (min-width: 768px) {
  .form-wrapper #my-form .ninni::after {
    right: 10px;
    left: auto;
  }
}
.form-wrapper #my-form .radio-menu > label {
  display: block;
  padding: 5px;
  cursor: pointer;
}
.form-wrapper #my-form .radio-menu > label:hover {
  color: #0a467d;
}
.form-wrapper #my-form .radio-menu > label > input {
  margin-right: 5px;
  cursor: pointer;
}
.form-wrapper #my-form .checkbox-menu {
  width: 100%;
}
.form-wrapper #my-form .checkbox-menu > label {
  display: block;
  padding: 5px;
  cursor: pointer;
}
.form-wrapper #my-form .checkbox-menu > label:hover {
  color: #0a467d;
}
.form-wrapper #my-form .checkbox-menu > label > input {
  margin-right: 5px;
  cursor: pointer;
}
.form-wrapper #my-form .question {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 2px;
       column-gap: 2px;
  margin-top: 3px;
  margin-bottom: 20px;
  justify-content: center;
}
@media print, screen and (min-width: 768px) {
  .form-wrapper #my-form .question {
    flex-direction: row;
    row-gap: 5px;
  }
}
.form-wrapper #my-form .question > p {
  text-align: left;
  color: #000;
  padding: 0.5em;
  margin-bottom: 3px;
}
@media print, screen and (min-width: 768px) {
  .form-wrapper #my-form .question > p {
    margin-top: 1em;
    margin-right: auto;
    margin-left: 10%;
  }
}
.form-wrapper #my-form .question #robot {
  margin-left: 2%;
  margin-right: auto;
  margin-top: 2px;
  padding: 0.5em;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  background: #F5F5F5;
  font-size: 1em;
  max-width: 100%;
  color: #454545;
  width: 30%;
}
@media print, screen and (min-width: 768px) {
  .form-wrapper #my-form .question #robot {
    margin-top: 30px;
    font-size: 15px;
    width: 20%;
    height: 2.5em;
    margin-right: auto;
    margin-left: 0;
  }
}

.intro-sec {
  font-family: "Sen", "M PLUS Rounded 1c", sans-serif;
  /* I'm Shintaro Kawai ~~ based in Japan */
}
.intro-sec .wrapper {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}
.intro-sec .wrapper.grid {
  display: grid;
  -moz-column-gap: 0px;
       column-gap: 0px;
  grid-column-gap: 0;
  grid-auto-columns: 1fr;
  row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .wrapper.grid {
    row-gap: 16px;
    grid-template-columns: 1fr 1fr;
  }
}
.intro-sec .wrapper.grid-3_col {
  display: grid;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 45px;
  row-gap: 48px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .wrapper.grid-3_col {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.intro-sec .hero-section {
  height: auto;
  position: static;
  max-height: 1080;
  padding-right: 0px;
  background-color: #181823;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .hero-section {
    height: 90vh;
    padding-right: 40px;
  }
}
.intro-sec #w-node-7467 {
  align-self: center;
}
.intro-sec .hero-image-box {
  height: 25vh;
  max-height: 864px;
  background-image: url(https://shintaro-kawai.github.io/portafoglio/image/myself_2019.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  z-index: 7;
  background-position: center 20%;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .hero-image-box {
    height: 80vh;
    background-position: 50% 50%;
    transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    -webkit-animation: slideInFromLeft 2.6s;
            animation: slideInFromLeft 2.6s;
  }
}
@-webkit-keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-44px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-44px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.intro-sec .heading_76px {
  color: #fff;
  margin-top: 0px;
  margin-bottom: 16px;
  line-height: 110%;
  text-align: left;
  padding-left: 110px;
  font-size: 32px;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .heading_76px {
    margin-bottom: 32px;
    padding-right: 60px;
    font-size: 76px;
    text-align: right;
  }
}
.intro-sec .white_50 {
  color: hsla(0deg, 0%, 100%, 0.5);
}
.intro-sec .paragraph_18px {
  color: #fff;
  font-size: 18px;
  line-height: 150%;
  width: auto;
  text-align: left;
  padding-top: 30px;
  padding-left: 10px;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .paragraph_18px {
    padding-left: 70px;
  }
}
.intro-sec .paragraph_18px.light-grey {
  color: #8491a0;
  text-align: left;
  padding-left: 0;
  padding-right: 25px;
}
.intro-sec .paragraph_18px.dark-grey {
  color: #5b6876;
  padding-left: 0;
  text-align: left;
}
.intro-sec .hero-text-block {
  margin-left: 0px;
  padding: 48px 20px;
  background-image: linear-gradient(180deg, #181823, #181823);
  -webkit-animation: slideInFromRight 3.6s;
          animation: slideInFromRight 3.6s;
  z-index: 8;
  background-color: #181823;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .hero-text-block {
    margin-left: -64px;
  }
}
@-webkit-keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(44px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(44px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.intro-sec .hero-bg {
  display: none;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .hero-bg {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: -1;
    width: 65vw;
    height: 110vh;
    max-height: 1350px;
    background-image: linear-gradient(180deg, #181823, #181823);
  }
}
.intro-sec .skillset {
  background-color: #181823;
  padding: 64px 20px;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .skillset {
    padding: 120px 72px;
  }
}
.intro-sec .normal-wrapper._48px-right_p {
  padding-right: 0px;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .normal-wrapper._48px-right_p {
    padding-right: auto;
  }
}
.intro-sec #w-node-df569 {
  align-self: center;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
@media print, screen and (min-width: 768px) {
  .intro-sec #w-node-df569 {
    grid-row-start: span 2;
    grid-row-end: span 2;
  }
}
.intro-sec .heading_55px {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 30px;
  color: #fff;
  line-height: 110%;
  font-size: 32px;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .heading_55px {
    font-size: 55px;
    margin-bottom: 0px;
  }
}
.intro-sec .heading_55px._24px_bottom {
  margin-bottom: 24px;
}
.intro-sec .heading_55px.black {
  color: #181823;
}
.intro-sec .skills-wrapper._48px-right_p {
  padding-right: 0;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .skills-wrapper._48px-right_p {
    padding-right: 48px;
  }
}
.intro-sec .skill-icon {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.intro-sec .skill-icon:hover {
  transform: translate3d(0px, 0px, 0px) scale3d(1.05, 1.05, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
  transition: 0.5s ease 0.5s;
}
.intro-sec .skill-icon .fa-html5 {
  font-size: 4.5em;
  color: #FF4C18;
}
.intro-sec .skill-icon .fa-css3-alt {
  font-size: 4.5em;
  color: #1da1f2;
}
.intro-sec .skill-icon .fa-js {
  font-size: 4.5em;
  color: #FCC800;
}
.intro-sec .skill-icon .fa-wordpress {
  font-size: 4.5em;
  color: #00ACED;
}
.intro-sec .skill-icon .fa-python {
  font-size: 4.5em;
  color: #1da1f2;
}
.intro-sec .skill-icon .fa-php {
  font-size: 4.5em;
  color: #9999FF;
}
.intro-sec .heading_24px {
  margin-top: 0px;
  margin-bottom: 16px;
  color: #fff;
  font-size: 24px;
  line-height: 120%;
  font-weight: 400;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .heading_24px {
    font-size: 32px;
    font-weight: 700;
  }
}
.intro-sec .paragraph_16px {
  margin-bottom: 0px;
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
}
.intro-sec .paragraph_16px.light-grey {
  color: #8491a0;
}
.intro-sec .weab {
  padding: 5px;
  background-color: #181823;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .weab {
    padding: 60px 40px 80px;
  }
}
.intro-sec .flex-vertical_left_top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.intro-sec .overline_16px {
  display: inline-block;
  margin-bottom: 8px;
  color: #8491a0;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
}
.intro-sec .w-layout-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}
.intro-sec .weab-grid {
  row-gap: 40px;
  grid-template-columns: 1fr;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .weab-grid {
    margin-top: 40px;
    grid-column-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}
.intro-sec .weab-block {
  padding-right: 0px;
  opacity: 0;
  transition: all 1.5s 1.3s ease;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .weab-block {
    padding-right: 48px;
  }
}
.intro-sec .weab-block .green {
  color: #3cc74e;
  font-weight: 500 !important;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .weab-block .green {
    font-weight: 700;
  }
}
.intro-sec .weab-block .blue {
  color: #609bff;
  font-weight: 500 !important;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .weab-block .blue {
    font-weight: 700;
  }
}
.intro-sec .weab-block .pink {
  color: #e95d90;
  font-weight: 500 !important;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .weab-block .pink {
    font-weight: 700;
  }
}
.intro-sec #weab-1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.intro-sec #weab-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.intro-sec #weab-3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  margin-bottom: 70px;
}
@media print, screen and (min-width: 768px) {
  .intro-sec #weab-3 {
    margin-bottom: 0;
  }
}
.intro-sec .animated {
  /* 最初は非表示 */
  opacity: 0;
}
.intro-sec .weab-number {
  display: block;
  margin-bottom: 8px;
  color: #8491a0;
  line-height: 100%;
  font-weight: 400;
  font-size: 32px;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .weab-number {
    font-size: 117px;
  }
}
.intro-sec #paper-link {
  text-decoration: underline;
  color: #fff;
}
.intro-sec #paper-link:hover {
  color: #d13415;
  cursor: pointer;
}
.intro-sec .phd-val {
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.intro-sec .wrapper-2 {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}
.intro-sec .wrapper-2.grid-2 {
  display: grid;
  grid-column-gap: 0;
  grid-auto-columns: 1fr;
  row-gap: 0px;
  -moz-column-gap: 0px;
       column-gap: 0px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-auto-flow: dense;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .wrapper-2.grid-2 {
    row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}
.intro-sec .wrapper-2 .mid_left-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFF3E4;
  padding: 25px 20px;
  margin-bottom: 0;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .wrapper-2 .mid_left-block {
    padding: 80px 72px;
  }
}
.intro-sec .wrapper-2 .mid_left-block .pv-wrapper {
  width: 100%;
  height: 100%;
}
.intro-sec .wrapper-2 .mid_image {
  background-image: url(https://shintaro-kawai.github.io/portafoglio/image/Angkor_sunrise.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media print, screen and (min-width: 768px) {
  .intro-sec .wrapper-2 .mid_image {
    background-position: 50% 50%;
  }
}

.service {
  color: #000;
  margin-top: none;
}
.service .service-cont {
  display: flex;
  padding-bottom: 40px;
  flex-flow: column wrap;
}
@media print, screen and (min-width: 768px) {
  .service .service-cont {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }
}
.service .service-cont .service-list {
  list-style-type: none;
  flex: 1;
  text-align: left;
  vertical-align: middle;
  padding-left: 35px;
}
@media print, screen and (min-width: 768px) {
  .service .service-cont .service-list {
    padding-left: 4.5em;
  }
}
.service .service-cont .service-img {
  margin: 20px 40px;
  flex: 1;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service .service-cont .service-img .img-wrap > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
  height: 90%;
}
.service .service-cont .service-img .img-wrap::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: rotate(3deg);
  background: #F5F5F5;
  z-index: -1;
}
.service .service-cont .service-item {
  font-size: 18px;
  padding-top: 20px;
}
@media print, screen and (min-width: 768px) {
  .service .service-cont .service-item {
    font-size: 24px;
    padding-top: 0;
  }
}
.service .service-cont .service-item + .service-item {
  padding-top: 32px;
}
@media print, screen and (min-width: 768px) {
  .service .service-cont .service-item + .service-item {
    padding-top: 30px;
  }
}

/* ===========================
Contact > thanks > index.html 
お問い合わせフォーム
============================== */
/* Top Image 
============== */
.thanks-top {
  background-image: url(../image/laptop.jpg) !important;
  background-position: center;
  background-size: cover;
  height: 400px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 0;
}
@media print, screen and (min-width: 768px) {
  .thanks-top {
    /* ------------------------------------------
      url(...)の相対パスはstyle.cssから見たルートで記述
      -> 実際にスタイルを適用するファイルはstyle.cssだから
      ------------------------------------------ */
    background-image: url(../image/laptop.jpg) !important;
  }
}

/* thanks message
==================== */
.thanks-message {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #F2F2F2;
  margin-top: 0;
}
.thanks-message .span-thanks {
  display: inline-block;
  font-size: 48px;
  color: #000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 50px 10% 20px;
}
.thanks-message p {
  font-size: 32px;
  color: #000;
  text-align: center;
}
.thanks-message p .signature {
  font-size: 24px;
}
.thanks-message #page_top_btn {
  display: inline-block;
  margin: 20px auto 50px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  background: #e0505d;
  color: #F5F5F5;
  cursor: pointer;
}

.top {
  position: relative;
  height: 600px;
  width: 100%;
}

#video-area {
  /* fixedだとスクロールしてもその場所に固定されてしまう
     aboluteにしてそのdiv内の絶対位置にする */
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#video {
  /* 天地中央配置 */
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 縦横幅指定 */
  width: 177.77777778vh;
  height: 56.25vw;
  min-height: 100%;
  min-width: 100%;
}

/* 見出し設定 */
.top-title {
  /* 要素の配置 */
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 2;
  /* 要素を天地中央寄せ */
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  /* 見た目の調整 */
  color: #fff;
  text-shadow: 0 0 1px #666666;
}
.top-title #top-en {
  font-size: 32px;
}
@media print, screen and (min-width: 768px) {
  .top-title #top-en {
    font-size: 48px;
  }
}
.top-title #top-ja {
  font-size: 24px;
}
@media print, screen and (min-width: 768px) {
  .top-title #top-ja {
    font-size: 32px;
  }
}

.works {
  margin-top: 0;
  padding-top: 80px;
  border: 1px solid #fff;
}
.masterpiece {
  padding-top: 60px;
  /* ===============
   customer FB
   =============== */
}
.masterpiece .mas-list {
  margin: 10px 0;
  padding: 5px 0;
}
.masterpiece .mas-slick .slick-slide {
  position: relative;
  margin-right: 30px;
  margin-left: 30px;
  overflow: visible;
  transform: scale(0.9);
  height: auto;
}
@media print, screen and (min-width: 768px) {
  .masterpiece .mas-slick .slick-slide {
    padding: 10px 0;
    margin-left: 10px;
    margin-right: 10px;
    width: 322px;
    height: 30vw;
  }
}
.masterpiece .mas-slick .slick-slide.slick-current {
  transform: scale(1);
  transition: all 0.8s ease 0.4s;
}
.masterpiece .mas-slick .slick-slide .slide-img {
  z-index: 3;
  transition: all 0.8s ease 0.4s;
  opacity: 0.8;
  box-shadow: 7px 7px 15px -5px #666666;
  overflow: hidden;
}
.masterpiece .mas-slick .slick-slide.slick-current .mas-item {
  transform: scale(1);
  transition: all 0.8s ease 0.4s;
  opacity: 1;
  overflow: visible;
}
.masterpiece .mas-slick .slick-slide .slide-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.masterpiece .mas-slick .slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}
.masterpiece .mas-slick .slick-arrow::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #09000d;
  border-width: 3px 3px 0 0;
  position: absolute;
  top: 24px;
  transform: rotate(45deg);
}
.masterpiece .mas-slick .slick-next {
  right: 0%;
}
.masterpiece .mas-slick .slick-prev {
  left: 0%;
}
.masterpiece .mas-slick .slick-next::before {
  left: 20px;
}
.masterpiece .mas-slick .slick-prev::before {
  border-width: 0 0 3px 3px;
  right: 22px;
}
.masterpiece .master-dots .slick-dots {
  text-align: center;
  bottom: -26px;
  margin: 45px auto 100px;
}
.masterpiece .master-dots .slick-dots li {
  display: inline-block;
  width: 40px;
}
.masterpiece .master-dots .slick-dots button {
  display: block;
  width: 10px;
  height: 10px;
  margin: 6px;
  font-size: 0;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  background: #B9C3C9;
  border-radius: 50%;
}
.masterpiece .master-dots .slick-dots .slick-active button {
  background: #0a467d;
}
.masterpiece .mas-item {
  display: flex;
  flex-flow: column-reverse;
  border-radius: 8px;
  overflow: visible;
  margin-right: 30px;
  margin-left: 30px;
  z-index: 3;
}
@media print, screen and (min-width: 768px) {
  .masterpiece .mas-item {
    margin: 20px auto;
    width: 322px;
    height: auto;
  }
}
.masterpiece .mas-item .slide-img {
  max-width: 60%;
  margin: 0 auto;
  height: auto;
}
.masterpiece .mas-item .text {
  font-size: 24px;
  background-color: #fff;
  padding: 20px 20px 10px 20px;
  border-radius: 0 0 8px 8px;
  margin: 0 auto;
  text-align: center;
}
.masterpiece .mas-item .title {
  color: #333333;
  display: inline-block;
  text-align: center;
}
.masterpiece .mas-item .price {
  padding-top: 40px;
  color: #333333;
}
.masterpiece .mas-item .price > span {
  color: #FF0000;
}
.masterpiece .cust-wrap {
  padding-top: 40px;
}
.masterpiece .cust-list {
  /* list-style-type: none; を適用した場合，左に余白ができる．
  この余白を消すためにliタグの親要素にpadding-left: 0;を適用 */
  padding-left: 0;
}
.masterpiece .cust-list .cust-item {
  color: #000;
  display: flex;
  flex-flow: column-reverse;
}
.masterpiece .cust-list .cust-item + .cust-item {
  padding-top: 60px;
}
@media print, screen and (min-width: 768px) {
  .masterpiece .cust-list .cust-item + .cust-item {
    padding-top: 0;
  }
}
@media print, screen and (min-width: 768px) {
  .masterpiece .cust-list .cust-item:nth-child(odd) {
    flex-flow: row-reverse;
  }
}
@media print, screen and (min-width: 768px) {
  .masterpiece .cust-list .cust-item:nth-child(odd) .image {
    margin-right: 40px;
  }
}
@media print, screen and (min-width: 768px) {
  .masterpiece .cust-list .cust-item:nth-child(odd) .text {
    margin-right: 40px;
  }
}
@media print, screen and (min-width: 768px) {
  .masterpiece .cust-list .cust-item:nth-child(even) {
    flex-flow: row;
  }
}
@media print, screen and (min-width: 768px) {
  .masterpiece .cust-list .cust-item:nth-child(even) .image {
    margin-left: 40px;
  }
}
@media print, screen and (min-width: 768px) {
  .masterpiece .cust-list .cust-item:nth-child(even) .text {
    margin-left: 40px;
  }
}
.masterpiece .cust-list .cust-item .text {
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 40px;
}
@media print, screen and (min-width: 768px) {
  .masterpiece .cust-list .cust-item .text {
    flex: 1;
    padding-right: 0;
    padding-left: 0;
  }
}
.masterpiece .cust-list .cust-item .title {
  color: #000;
  font-size: 18px;
}
@media print, screen and (min-width: 768px) {
  .masterpiece .cust-list .cust-item .title {
    font-size: 28px;
  }
}
.masterpiece .cust-list .cust-item .desc {
  margin-top: 50px;
  font-size: 16px;
  color: #000;
}
@media print, screen and (min-width: 768px) {
  .masterpiece .cust-list .cust-item .desc {
    font-size: 18px;
  }
}
@media print, screen and (min-width: 768px) {
  .masterpiece .cust-list .cust-item .image {
    width: 50%;
  }
}

/* パスはstyle.cssから見た書き方で *//*# sourceMappingURL=style.css.map */