@charset "UTF-8";
@media print, screen and (min-width: 768px) {
  ._sp {
    display: none;
  }
}

._pc {
  display: none;
}
@media print, screen and (min-width: 768px) {
  ._pc {
    display: block;
  }
}

.header {
  /* 三本線(ハンバーガーメニュー) */
  /* ナビゲーションメニュー*/
  /* <li>の黒ポチを消す */
}
.header .header-fixed {
  background-color: #B9C3C9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 5px;
  z-index: 2;
}
.header .header-logo {
  width: 150px;
  margin-left: 30px;
}
.header .nav-btn {
  width: 52px;
  height: 32px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
  /* 親要素(.nav-btn)がクリックされた時(active) */
}
@media print, screen and (min-width: 768px) {
  .header .nav-btn {
    display: none;
  }
}
.header .nav-btn.-active span {
  top: 0;
  bottom: 0;
  margin: auto;
  transition: transform 0.3s ease-in-out;
}
.header .nav-btn.-active span:first-child {
  transform: rotate(45deg);
}
.header .nav-btn.-active span:nth-child(2) {
  transform: rotate(45deg);
}
.header .nav-btn.-active span:last-child {
  transform: rotate(-45deg);
}
.header .nav-btn span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #FF4C18;
  display: block;
  transition: transform 0.3s ease-in-out;
  right: 0;
}
.header .nav-btn span:first-child {
  top: 0;
}
.header .nav-btn span:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.header .nav-btn span:last-child {
  bottom: 0;
}
.header .nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #FF4C18;
  padding-top: 145px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}
@media print, screen and (min-width: 768px) {
  .header .nav {
    /* PCサイズの場合は常に表示 */
    width: initial;
    background-color: transparent;
    padding-top: 0;
    z-index: 3;
    left: inherit;
    right: 0;
    top: 38px;
    opacity: 1;
    visibility: visible;
  }
}
.header .nav.-active {
  /* スマホサイズでクリックされた時 */
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(255, 244, 98, 0.7);
  font-weight: bolder;
}
.header .nav-wrap ul {
  list-style-type: none;
}
.header .nav-list {
  text-align: center;
  padding-bottom: 45px;
}
@media print, screen and (min-width: 768px) {
  .header .nav-list {
    display: flex;
    margin-right: 40px;
    padding-bottom: 0;
  }
}
.header .nav-list .nav-item + .nav-item {
  margin-top: 20px;
}
@media print, screen and (min-width: 768px) {
  .header .nav-list .nav-item + .nav-item {
    margin-top: 0;
    margin-left: 20px;
  }
}
.header .nav-list a {
  color: #333333;
  font-size: 24px;
}
@media print, screen and (min-width: 768px) {
  .header .nav-list a {
    font-size: 18px;
  }
}
@media print, screen and (min-width: 768px) {
  .header .nav-list #est-item {
    background-color: #FFF33F;
    border-radius: 8px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 15px;
  border-top: 1px solid #FFF33F;
}
.footer .nav-wrap ul {
  list-style-type: none;
}
.footer .nav-list {
  text-align: center;
}
@media print, screen and (min-width: 768px) {
  .footer .nav-list {
    display: flex;
    justify-content: center;
  }
}
.footer .nav-item + .nav-item {
  margin-top: 20px;
}
@media print, screen and (min-width: 768px) {
  .footer .nav-item + .nav-item {
    margin-left: 35px;
    margin-top: 0;
  }
}
.footer .nav-item a {
  font-size: 16px;
  color: #000;
}
.footer .footer-logo {
  width: 188px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}
.footer .copyright {
  padding-top: 20px;
  color: #000;
  font-size: 16px;
  text-align: center;
}

/* "cmn": common 
=======================*/
.cmn-section {
  padding-top: 40px;
}
.cmn-section.-white {
  background-color: #fff;
}
.cmn-section.-bluegrey {
  background-color: #B9C3C9;
}

.cmn-title {
  text-align: center;
  color: #fff;
}
.cmn-title .main {
  display: block;
  font-size: 32px;
}
.cmn-title .sub {
  display: block;
  font-size: 20px;
  margin-top: 20px;
  font-family: "Helvetica", "HiraKakuProN-W3", "ヒラギノ角ゴ ProN W3", sans-serif;
  text-transform: capitalize;
  margin-top: 34px;
}
@media print, screen and (min-width: 768px) {
  .cmn-title .sub {
    margin-top: 50px;
  }
}
.cmn-title .sub.-faq {
  text-transform: uppercase;
}

/* "〇〇の詳細"ボタン
============================== */
.cmn-btn a,
.cmn-btn input {
  display: inline-block;
  padding: 12px 36px;
  background-color: rgba(184, 134, 11, 0.9176470588);
  color: #fff;
  font-size: 14px;
  border-radius: 8px;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "ヒラギノ角ゴ ProN W3", sans-serif;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

main {
  background-color: #fff;
}

.top {
  position: relative;
  height: 600px;
  width: 100%;
}

#video-area {
  /* fixedだとスクロールしてもその場所に固定されてしまう
     aboluteにしてそのdiv内の絶対位置にする */
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#video {
  /* 天地中央配置 */
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 縦横幅指定 */
  width: 177.77777778vh;
  height: 56.25vw;
  min-height: 100%;
  min-width: 100%;
}

/* 見出し設定 */
.top-title {
  /* 要素の配置 */
  position: absolute;
  width: 100%;
  text-align: center;
  /* 要素を天地中央寄せ */
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  /* 見た目の調整 */
  color: #fff;
  text-shadow: 0 0 1px #666;
}
.top-title #top-en {
  font-size: 32px;
}
@media print, screen and (min-width: 768px) {
  .top-title #top-en {
    font-size: 48px;
  }
}
.top-title #top-ja {
  font-size: 24px;
}
@media print, screen and (min-width: 768px) {
  .top-title #top-ja {
    font-size: 32px;
  }
}

.breadcrumb {
  padding-top: 20px;
  padding-left: 20px;
  /* 「ホーム>ブログ>ブログタイトル」を作成 */
}
.breadcrumb ol {
  list-style-type: none;
}
@media print, screen and (min-width: 768px) {
  .breadcrumb {
    padding-left: 60px;
  }
}
.breadcrumb .breadcrumb-list {
  display: flex;
  font-size: 16px;
}
@media print, screen and (min-width: 768px) {
  .breadcrumb .breadcrumb-list {
    font-size: 20px;
  }
}
.breadcrumb .breadcrumb-item {
  color: #fff;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item {
  position: relative;
  padding-left: 14px;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  position: absolute;
  content: ">";
  color: #fff;
  font-size: 20px;
  left: 2px;
  line-height: 1;
}
@media print, screen and (min-width: 768px) {
  .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    top: 5px;
  }
}
.breadcrumb .breadcrumb-item a {
  color: #fff;
  text-decoration: underline;
  display: block;
}/*# sourceMappingURL=style.css.map */