@use "../foundation/base" as b;

.footer {
  padding-top: 60px;
  padding-bottom: 15px;

  .inner {}

  // 黒ポチを消す
  .nav-wrap {
    ul {
      list-style-type: none;
      padding-left: 0%;
    }
  }

  .nav-list {
    text-align: center;

    @include b.overTab {
      display: flex;
      justify-content: center;
    }
  }

  .nav-item {
    +.nav-item {
      margin-top: 20px;

      @include b.overTab {
        margin-left: 35px;
        margin-top: 0;
      }
    }

    a {
      font-size: 16px;
      color: b.cl(black);
    }
  }

  .footer-logo {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  }

  .copyright {
    padding-top: 20px;
    color: b.cl(black);
    font-size: 16px;
    text-align: center;
  }
}