@use "../foundation/base" as b;

.contact {
  background-color: b.cl(yellow-3);
  margin: 0;
  // border: 2px solid b.cl(inspect-line); // 検証用

  .contact-wrap {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 40px;
    vertical-align: middle;


    &>h1 {
      text-align: center;
      color: b.cl(black);
      font-family: 'Caveat', cursive;
    }

    &>p {
      text-align: center;
      color: b.cl(black);
    }

  }
}