@use "../foundation/base" as b;

.concept {
  padding-top: 80px;
  padding-bottom: 20px;
  // border: 1px solid b.cl(inspect-line);

  /* スクロールしていくとフェードインするアニメーション
  --------------------------------------------- */
  // 最初は完全透明にしておく
  .fadein {
    opacity: 0;
    // 予め下方向に50pxずらしておく
    transform: translate(0, 50px);
    // アニメーション時間:「ふわっと具合」の調整
    transition: all 1.5s ease;
  }

  // スクロールで要素が見えたら透明度1にして表示
  .fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0);
  }

  /* ----------------------------------------- */

  .inner {
    display: flex;
    flex-direction: column;

    @include b.overTab {
      display: block;
    }
  }

  /* <ul>,<li> だと微妙に左にスペースができる
  => list-style-type: none; だけでなく
  padding-left: 0;    */
  .concept-list {
    padding-top: 60px;
    padding-left: 0; // 黒丸のスペースを消す
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;

    @include b.overTab {
      flex-flow: row wrap;
    }
  }

  .concept-item {
    color: b.cl(black);
    flex: 1;
    // border: 2px solid b.cl(inspect-line); // 検証用ボーダー
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &>.fa-icon {
      margin: 0 auto;

      &>i {
        font-size: 50px;
        color: b.cl(f-Grey);
      }
    }

    &>.text {
      display: block;

      &>.title {
        text-align: center;
      }

      padding-left: 28px;
      padding-right: 28px;
      padding-top: 40px;

      @include b.overTab {
        flex: 1;
        padding-right: 0;
        padding-left: 0;
      }
    }

    @include b.overTab {

      .image,
      .text {
        margin-right: 40px;
        margin-left: 40px;
      }
    }

    +.concept-item {
      padding-top: 60px;

      @include b.overTab {
        padding-top: 0;
      }
    }

    .title {
      color: b.cl(black);
      font-size: 18px;

      @include b.overTab {
        font-size: 28px;
      }
    }

    .desc {
      margin-top: 50px;
      font-size: 16px;

      @include b.overTab {
        font-size: 18px;
      }
    }
  }
}