@use "../foundation/base" as b;

.flow {
  margin-bottom: 0px;
  border: 1px solid b.cl(black);

  .flow-wrapper {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;


    .flow-cont {
      padding-left: 20px;
      margin-left: 20px;
      padding-right: auto;
      margin-right: auto;
      margin-bottom: 60px;
    }

    h2 {
      color: b.cl(white) !important;
    }

    .flow-grid {
      display: grid;
      row-gap: 20px;
      grid-template-columns: 1fr;

      @include b.overTab {
        margin-top: 40px;
        column-gap: 24px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
      }
    }

    .flow-item {
      padding-right: 0;
      z-index: 2;
      margin-top: 30px;
      margin-bottom: 30px;

      @include b.overTab {
        padding-right: 48px;
        margin-top: 40px;
        margin-bottom: 80px;
      }
    }

    .animated {
      // 初めは要素を透明にしておく
      opacity: 0;
    }

    .number {
      display: block;
      margin-bottom: 8px;
      color: b.cl(f-Grey);
      font-size: 48px;
      line-height: 100%;
      font-weight: 500;
    }

    .flow-h3 {
      margin-top: 0px;
      margin-bottom: 16px;
      color: b.cl(white);
      font-size: 48px;
      line-height: 120%;
      font-weight: 700;

      @include b.overTab {
        font-size: 32px
      }
    }

    .flow-paragraph {
      margin-bottom: 0;
      color: b.cl(white);
      font-size: 16px;
      line-height: 150%;
      text-decoration: none;
    }

    #flow-1 {
      animation-delay: 0s;
    }

    #flow-2 {
      animation-delay: 0.2s;
    }

    #flow-3 {
      animation-delay: 0.4s;
    }

    #flow-4 {
      animation-delay: 0.6s
    }

    .green {
      color: b.cl(f-Green)
    }

    .blue {
      color: b.cl(f-Blue);
    }

    .pink {
      color: b.cl(f-Pink);
    }

    .gold {
      color: b.cl(gold);
    }
  }

}