@use "../foundation/base" as b;

.intro-sec {
  font-family: 'Sen', 'M PLUS Rounded 1c', sans-serif;

  .wrapper {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;

    &.grid {
      display: grid;
      column-gap: 0px;
      grid-column-gap: 0;
      grid-auto-columns: 1fr;
      row-gap: 0px;
      grid-template-rows: auto;
      grid-template-columns: 1fr;

      @include b.overTab {
        row-gap: 16px;
        grid-template-columns: 1fr 1fr;
      }
    }

    &.grid-3_col {
      display: grid;
      align-items: stretch;
      grid-auto-columns: 1fr;
      grid-column-gap: 45px;
      row-gap: 48px;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;

      @include b.overTab {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }

  .hero-section {
    height: auto;
    position: static;
    max-height: 1080;
    padding-right: 0px;
    background-color: b.cl(dull-black);

    @include b.overTab {
      height: 90vh;
      padding-right: 40px;
    }
  }

  #w-node-7467 {
    align-self: center;
  }

  .hero-image-box {
    height: 25vh; //45vh
    max-height: 864px;
    background-image: url(../image/myself_2019.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    z-index: 7;
    background-position: center 20%;

    @include b.overTab {
      height: 80vh;
      background-position: 50% 50%;
      transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
      animation: slideInFromLeft 2.6s;
    }
  }

  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-44px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* I'm Shintaro Kawai ~~ based in Japan */
  .heading_76px {
    color: b.cl(white);
    margin-top: 0px;
    margin-bottom: 16px;
    line-height: 110%;
    text-align: left;
    padding-left: 110px;
    font-size: 32px;

    @include b.overTab {
      margin-bottom: 32px;
      padding-right: 60px;
      font-size: 76px;
      text-align: right;
    }
  }

  .white_50 {
    color: hsla(0, 0%, 100%, 0.5);
  }

  .paragraph_18px {
    color: b.cl(white);
    font-size: 18px;
    line-height: 150%;
    width: auto;
    text-align: left;
    padding-top: 30px;
    padding-left: 10px;

    @include b.overTab {
      padding-left: 70px;
    }

    &.light-grey {
      color: b.cl(f-Grey);
      text-align: left;
      padding-left: 0;
      padding-right: 25px;
    }

    &.dark-grey {
      color: b.cl(dark-grey);
      padding-left: 0;
      text-align: left;
    }
  }

  .hero-text-block {
    margin-left: 0px; //0px
    padding: 48px 20px;
    background-image: linear-gradient(180deg, b.cl(dull-black), b.cl(dull-black));
    animation: slideInFromRight 3.6s;
    z-index: 8;
    background-color: b.cl(dull-black);

    @include b.overTab {
      margin-left: -64px;
    }
  }

  @keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(44px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .hero-bg {
    display: none;

    @include b.overTab {
      position: absolute;
      left: auto;
      top: 0%;
      right: 0%;
      bottom: auto;
      z-index: -1;
      width: 65vw;
      height: 110vh;
      max-height: 1350px;
      background-image: linear-gradient(180deg, b.cl(dull-black), b.cl(dull-black));
    }
  }

  .skillset {
    background-color: b.cl(dull-black);
    padding: 64px 20px;

    @include b.overTab {
      padding: 120px 72px;
    }
  }

  .normal-wrapper {
    &._48px-right_p {
      padding-right: 0px;

      @include b.overTab {
        padding-right: auto;
      }
    }
  }

  #w-node-df569 {
    align-self: center; // 高さ:中央
    grid-column-start: span 1;
    grid-column-end: span 1;

    @include b.overTab {
      grid-row-start: span 2;
      grid-row-end: span 2;
    }
  }

  .heading_55px {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 30px;
    color: b.cl(white);
    line-height: 110%;
    font-size: 32px;

    @include b.overTab {
      font-size: 55px;
      margin-bottom: 0px;
    }

    &._24px_bottom {
      margin-bottom: 24px;
    }

    &.black {
      color: b.cl(dull-black);
    }
  }

  .skills-wrapper {
    &._48px-right_p {
      padding-right: 0;

      @include b.overTab {
        padding-right: 48px;
      }
    }
  }

  .skill-icon {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 20px;

    &:hover {
      transform: translate3d(0px, 0px, 0px) scale3d(1.05, 1.05, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
      opacity: 1;
      transition: .5s ease .5s;
    }

    .fa-html5 {
      font-size: 4.5em;
      color: b.cl(orange);
    }

    .fa-css3-alt {
      font-size: 4.5em;
      color: b.cl(twitter);
    }

    .fa-js {
      font-size: 4.5em;
      color: b.cl(yellow-3);
    }

    .fa-wordpress {
      font-size: 4.5em;
      color: b.cl(sky);
    }

    .fa-python {
      font-size: 4.5em;
      color: b.cl(twitter);
    }

    .fa-php {
      font-size: 4.5em;
      color: b.cl(php);
    }
  }

  .heading_24px {
    margin-top: 0px;
    margin-bottom: 16px;
    color: b.cl(white);
    font-size: 24px;
    line-height: 120%;
    font-weight: 400;

    @include b.overTab {
      font-size: 32px;
      font-weight: 700;
    }
  }

  .paragraph_16px {
    margin-bottom: 0px;
    color: b.cl(white);
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;

    &.light-grey {
      color: b.cl(f-Grey);
    }
  }

  .weab {
    padding: 5px;
    background-color: b.cl(dull-black);

    @include b.overTab {
      padding: 60px 40px 80px; // 上 左右 下
    }
  }

  .flex-vertical_left_top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .overline_16px {
    display: inline-block;
    margin-bottom: 8px;
    color: b.cl(f-Grey);
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
  }

  .w-layout-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
  }

  .weab-grid {
    row-gap: 40px;
    grid-template-columns: 1fr;

    @include b.overTab {
      margin-top: 40px;
      grid-column-gap: 24px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
    }
  }

  .weab-block {
    padding-right: 0px;
    opacity: 0;
    transition: all 1.5s 1.3s ease;

    @include b.overTab {
      padding-right: 48px;
    }

    .green {
      color: b.cl(f-Green);
      font-weight: 500 !important;

      @include b.overTab {
        font-weight: 700;
      }
    }

    .blue {
      color: b.cl(f-Blue);
      font-weight: 500 !important;

      @include b.overTab {
        font-weight: 700;
      }
    }

    .pink {
      color: b.cl(f-Pink);
      font-weight: 500 !important;

      @include b.overTab {
        font-weight: 700;
      }
    }
  }

  #weab-1 {
    animation-delay: 0s;
  }

  #weab-2 {
    animation-delay: 0.2s;
  }

  #weab-3 {
    animation-delay: 0.4s;
    margin-bottom: 70px;

    @include b.overTab {
      margin-bottom: 0;
    }
  }

  .animated {
    /* 最初は非表示 */
    opacity: 0;
  }

  .weab-number {
    display: block;
    margin-bottom: 8px;
    color: b.cl(f-Grey);
    line-height: 100%;
    font-weight: 400;
    font-size: 32px;

    @include b.overTab {
      font-size: 117px;
    }
  }

  #paper-link {
    text-decoration: underline;
    color: b.cl(white);

    &:hover {
      color: b.cl(submit);
      cursor: pointer;
    }
  }

  .phd-val {
    display: block;
    height: fit-content;
  }

  .wrapper-2 {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;

    &.grid-2 {
      display: grid;
      grid-column-gap: 0;
      grid-auto-columns: 1fr;
      row-gap: 0px;
      column-gap: 0px;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      grid-auto-flow: dense;

      @include b.overTab {
        row-gap: 16px;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
      }
    }

    .mid_left-block {
      height: 100%; //450px
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: b.cl(beigecream);
      padding: 25px 20px;
      margin-bottom: 0;

      @include b.overTab {
        padding: 80px 72px;
      }

      .pv-wrapper {
        width: 100%;
        height: 100%;
      }
    }

    .mid_image {
      background-image: url(../image/Angkor_sunrise.jpg) !important;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      @include b.overTab {
        background-position: 50% 50%;
      }
    }
  }

}