@use "../foundation/base" as b;

.service {
  color: b.cl(black);
  margin-top: none;

  .inner {}

  .service-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; // ulの中身を上下中央に配置
    padding-bottom: 40px;

    .service-list {
      list-style-type: none;
      padding-left: 10px;
      flex: 1;
      text-align: left;
      vertical-align: middle;
      font-size: 24px;
    }

    .service-img {
      margin: 20px 40px;
      flex: 1;
      position: relative;
      z-index: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .img-wrap {
        &>img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        &::after {
          position: absolute;
          display: block;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
          transform: rotate(3deg);
          background: b.cl(whitecream);
          z-index: -1;
        }
      }
    }

    .service-item {
      +.service-item {
        padding-top: 30px;
      }
    }
  }
}