@use "../foundation/base" as b;

.service {
  color: b.cl(black);

  .inner {}

  .service-cont {
    .service-list {
      list-style-type: none;
      display: flex;
      flex-flow: column;
    }

    .service-item {
      +.service-item {
        padding-top: 30px;
      }
    }

  }
}