@use "../foundation/base" as b;

.top {
  position: relative; // h1の中央寄せ配置の基点
  height: 600px; // 高さを全画面に合わせる 100vh
  width: 100%;
}

#video-area {
  /* fixedだとスクロールしてもその場所に固定されてしまう
     aboluteにしてそのdiv内の絶対位置にする */
  position: absolute;
  z-index: -1; // 最背面
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

#video {
  /* 天地中央配置 */
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 縦横幅指定 */
  width: 177.77777778vh; // 16:9 の幅→16 ÷ 9＝ 177.77% 
  height: 56.25vw; // 16:9の幅 → 9 ÷ 16 = 56.25%;
  min-height: 100%;
  min-width: 100%;
}

/* 見出し設定 */
.top-title {
  /* 要素の配置 */
  position: absolute;
  width: 100%;
  text-align: center;
  /* 要素を天地中央寄せ */
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  /* 見た目の調整 */
  color: b.cl(white);
  text-shadow: 0 0 1px b.cl(shadow);

  #top-en {
    font-size: 32px;

    @include b.overTab {
      font-size: 48px;
    }
  }

  #top-ja {
    font-size: 24px;

    @include b.overTab {
      font-size: 32px;
    }
  }


}