@use "../foundation/base" as b;

.works {
  margin-top: 0;
  padding-top: 80px;
  border: 1px solid b.cl(white);

  .inner {}
}

.masterpiece {
  padding-top: 60px;

  .mas-list {
    margin: 10px 0;
    padding: 5px 0;
  }

  // SLICK ANIMATION
  // ===================
  .mas-slick .slick-slide {
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
    overflow: visible;
    transform: scale(0.9);
    height: auto;

    @include b.overTab {
      padding: 10px 0;
      margin-left: 10px;
      margin-right: 10px;
      width: 322px;
      height: 30vw;
      // max-height: auto;
      // min-height: auto;
    }
  }

  .mas-slick .slick-slide.slick-current {
    transform: scale(1);
    transition: all 0.8s ease 0.4s;
  }

  .mas-slick .slick-slide .slide-img {
    // mas-slick, mas-list > mas-item > slide-img, text
    z-index: 3;
    transition: all 0.8s ease 0.4s;
    opacity: 0.8;
    box-shadow: 7px 7px 15px -5px b.cl(shadow);
    overflow: hidden;
  }

  .mas-slick .slick-slide.slick-current .mas-item {
    transform: scale(1);
    transition: all 0.8s ease 0.4s;
    opacity: 1;
    overflow: visible;
  }

  .mas-slick .slick-slide .slide-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; // アスペクト比を維持
  }

  .mas-slick .slick-arrow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: b.cl(white);
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 0;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  }

  .mas-slick .slick-arrow::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid b.cl(border);
    border-width: 3px 3px 0 0;
    position: absolute;
    top: 24px;
    transform: rotate(45deg);
  }

  .mas-slick .slick-next {
    right: 0%;
  }

  .mas-slick .slick-prev {
    left: 0%;
  }

  .mas-slick .slick-next::before {
    left: 20px;
  }

  .mas-slick .slick-prev::before {
    border-width: 0 0 3px 3px;
    right: 22px;
  }

  .master-dots .slick-dots {
    text-align: center;
    bottom: -26px;
    margin: 45px auto 100px;
  }

  .master-dots .slick-dots li {
    display: inline-block;
    width: 40px; // ドット間の幅．デフォルトは20px
  }

  .master-dots .slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    margin: 6px;
    font-size: 0;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    background: b.cl(bluegrey);
    border-radius: 50%;
  }

  .master-dots .slick-dots .slick-active button {
    background: b.cl(navy);
  }

  // === slick ==========================

  .mas-item {
    display: flex;
    flex-flow: column-reverse;
    border-radius: 8px;
    overflow: visible;
    margin-right: 30px;
    margin-left: 30px;
    z-index: 3;
    // border: 1px solid b.cl(inspect-line); // inspection

    @include b.overTab {
      margin: 20px auto;
      // margin-left: 10px;
      // margin-right: 10px;
      width: 322px;
      height: auto;
    }

    .slide-img {
      max-width: 60%; //包含ブロックの幅に対する％
      margin: 0 auto;
      height: auto;
    }

    .text {
      font-size: 24px;
      background-color: b.cl(white);
      padding: 20px 20px 10px 20px;
      border-radius: 0 0 8px 8px;
      margin: 0 auto;
      // border: 1px solid b.cl(inspect-line);
      text-align: center;
    }

    .title {
      color: b.cl(text);
      display: inline-block;
      text-align: center;
    }

    .price {
      padding-top: 40px;
      color: b.cl(text);

      >span {
        color: b.cl(red);
      }
    }
  }

  /* ===============
   customer FB
   =============== */
  .cust-wrap {
    padding-top: 40px;
    // border: 2px solid b.cl(inspect-line); // 検証用
  }

  .cust-list {
    /* list-style-type: none; を適用した場合，左に余白ができる．
    この余白を消すためにliタグの親要素にpadding-left: 0;を適用 */
    padding-left: 0;

    .cust-item {
      color: b.cl(black);
      display: flex;
      flex-flow: column-reverse;

      @include b.overTab {}

      +.cust-item {
        padding-top: 60px;

        @include b.overTab {
          padding-top: 0;
        }
      }

      &:nth-child(odd) {
        @include b.overTab {
          flex-flow: row-reverse;
        }

        .image {
          @include b.overTab {
            margin-right: 40px;
          }
        }

        .text {
          @include b.overTab {
            margin-right: 40px;
          }
        }
      }

      &:nth-child(even) {
        @include b.overTab {
          flex-flow: row;
        }

        .image {
          @include b.overTab {
            margin-left: 40px;
          }
        }

        .text {
          @include b.overTab {
            margin-left: 40px;
          }
        }
      }

      .text {
        padding-left: 28px;
        padding-right: 28px;
        padding-top: 40px;

        @include b.overTab {
          flex: 1;
          padding-right: 0;
          padding-left: 0;
        }
      }

      .title {
        color: b.cl(black);
        font-size: 18px;

        @include b.overTab {
          font-size: 28px;
        }
      }

      .desc {
        margin-top: 50px;
        font-size: 16px;
        color: b.cl(black);

        @include b.overTab {
          font-size: 18px;
        }
      }

      .image {
        @include b.overTab {
          // 1280に対して640相当の横幅
          width: percentage(640/1280);
        }
      }
    }

  }
}