/* COLORS
 @include b.cl(white);
 色名の頭文字を大文字にするとエラー
 ----------------------------- */
$colors: (
  white: #fff,
  black: #000,
  text: #333333,
  grey: #6E6E6E,
  bluegrey: #B9C3C9,
  greengrey: #B9C2BB,
  purplegrey: #B8B6C1,
  orangegrey: #C8BCB5,
  lightgrey: #F2F2F2,
  b-grey: #bcbcbc,
  beige: #FFFFDD,
  shadow: #666,
  border: #09000d,
  yellow: #FFF33F,
  bluegreen: #30A3B3,
  heavypink: #CC6B9C,
  red: #FF0000,
  matcha: #899D25,
  orange: #FF4C18,
  primary: #4D0000,
  gold: #B8860BEA,
  navy: #0a467d,
  sky: #00ACED,
  blue: #030F55,
  f-Green:#3cc74e,
  f-Blue: #609bff,
  f-Pink: #e95d90,
  f-Grey: #8491a0,
  ) !default;

@function cl($key) {
  @return map-get($colors, $key
);
}

/* FONT
 @include b.Helvetica
 ------------------------- */
@mixin Helvetica {
  font-family: "Helvetica", "HiraKakuProN-W3", "ヒラギノ角ゴ ProN W3", sans-serif;
}

// RESPONSIVE
// @include b.overTab
// 768pxより大きいサイズの場合（768pxはタブレットの最小幅）
// -------------------------------------------------
@mixin overTab {

  @media print,
  screen and (min-width: 768px) {
    @content;
  }
}

// UTILITY
// スタイルの微調整に使うクラス（ユーティリティクラス）を定義
// -------------------------------------------------
._sp {
  @include overTab {
    display: none;
  }
}

._pc {
  display: none;

  @include overTab {
    display: block;
  }
}